* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}

.dropdown {
    display: flex;
    justify-content: space-evenly;
}

.container {
    position: relative;
    top: 275px;
    border-radius: 10%;
    padding: 10px;
    background-color: beige;
}

img {
    width: 30px;
}

button {
    position: relative;
    left: 70px;
    top: 5px;
    width: 75px;
}